<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843296055286-5qi3o6r420rui1u2msgu9c5fguhr16lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843296055286-5qi3o6r420rui1u2msgu9c5fguhr16lf</string>
	<key>API_KEY</key>
	<string>AIzaSyCWMH6mAHMqmJs0-Qd8COLgOGsnu7-UDPE</string>
	<key>GCM_SENDER_ID</key>
	<string>843296055286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erasgamesclient</string>
	<key>PROJECT_ID</key>
	<string>eras-games</string>
	<key>STORAGE_BUCKET</key>
	<string>eras-games.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843296055286:ios:35fedce7e363b24a29b1d7</string>
</dict>
</plist>